footer {
    background: linear-gradient(135deg, #2543af 0%, #0d0761 100%);
    color: rgb(187, 186, 186);
    padding: 10px;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 22vh;
    margin-top: 20px;
    
}
main {
    height: 75vh;
}
body {
background: linear-gradient(135deg, #2543af 0%, #0d0761 100%);    font-family: Arial, sans-serif;
    color: #333;
    min-height: 100vh;
    margin: auto;
}
